{% extends ['MainBundle::header.html.twig'] %}
{% block title %}Index{% endblock %}
{%  block body %}
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="{{path('main_homepage')}}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Home</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Welcome to Donations App !</h1>
			</div>
		</div><!--/.row-->
				
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">About</div>
					<div class="panel-body">
						<div class="col-md-6">
							We are a lñkjhgfdrtrtyujk
						</div>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">How to donate !</div>
					<div class="panel-body">
						<div class="col-md-6">
							<p>You can start donating everytime in three very simple options:</p>
							<p>1. View all the Institutions to know where you want to donate, here.</p>
							<p>2. Add a Credit Card to donate the unit that you want, here.</p>
							<p>3. Make a Donation saying the institution that you selected with the credit card that you registered and the amount that yu want to donate. *</p>
							<br><br>
							<p>* Note: You can only pay a donation per mounth on your country.</p>

						</div>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Management</div>
					<div class="panel-body">
						<div class="col-md-6">
							<p>You can select an option of each of the points below in the sidebar on left: </p>
							<h4>History</h4>
							<p>You can see all the donations that you maked in the system.</p>

							<h4>Credit Cards</h4>
							<p>You can manage your credit cards into the system.</p>

							<h4>Profile</h4>
							<p>You can manage all you personal information into the system.</p>
						</div>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->			
			
	</div>	<!--/.main-->
	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
{% endblock %}
